# Auto detect text files and perform LF normalization
* text=auto

# Do not put this files on a distribution package (by .gitignore)
/vendor/                    export-ignore
/tools/                     export-ignore
/composer.lock              export-ignore

# Do not put this files on a distribution package
/.github/                   export-ignore
/.phive/                    export-ignore
/build/                     export-ignore
/tests/                     export-ignore
/.gitattributes             export-ignore
/.gitignore                 export-ignore
/.php-cs-fixer.dist.php     export-ignore
/phpcs.xml.dist             export-ignore
/phpstan.neon.dist          export-ignore
/phpunit.xml.dist           export-ignore
/sonar-project.properties   export-ignore

# Do not count these files on github code language
/tests/_files/**            linguist-detectable=false
