<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
         bootstrap="./tests/bootstrap.php" colors="true" verbose="true" cacheTokens="false">
    <testsuites>
        <testsuite name="Default">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <!-- exclude composer vendor folder -->
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
